.layout main {}

.layout main .images {
    display: flex;
    margin: 0px 10px;
    flex-wrap: wrap;
    gap: 5px;
}

.layout main .images img {
    width: 180px;
    height: 180px;
    border: solid 1px red;
    box-sizing: border-box;
}